body {
  background: linear-gradient(-45deg, #e7be3c, #490edc, #4293cc, #627fa7);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

h1 {
  color: white;
  margin: auto, 0;
  margin-top: 120px;
  text-align: center;
  font-size: 70px;
  text-decoration-line: underline;
  font-family: "Bangers", cursive;
}

h3 {
  color: white;
}

button {
  font-size: 40px;
  padding: 20px;
  background-color: black;
  font-family: "Bangers", cursive;
  color: white;
  border: 3px solid black;
  border-radius: 8px;
}

/* hidden buttons */
#questionsAndAnswers {
  visibility: hidden;
}

#next-btn {
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  background-color: gray;
  visibility: hidden;
}

#score-storage {
  visibility: hidden;
}

.topContainer {
  display: flex;
  justify-content: center;
}
#startGame-btn {
  margin-top: 110px;
  margin-left: 50px;
}

.title {
  margin-left: 250px;
}
#questions {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-bottom: 70px;
}

.btn {
  margin: 0 auto;
  display: flex;
  margin-bottom: 8px;
  padding: 10px;
}

.btn:hover {
  background-color: white;
  color: #490edc;
}

.toggle:hover {
  background-color: white;
  color: #490edc;
}

#next-btn:hover {
  color: black;
  background-color: white;
}

#hud {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 120px;
  padding-top: 150px;
  position: absolute;
  right: 150px;
  width: 200px;
  height: 120px;
}

.prefix {
  text-align: center;
  font-size: 45px;
  color: white;
  text-decoration-line: underline;
  font-family: "Bangers", cursive;
}

.score-text {
  color: white;
  text-align: center;
  font-size: 45px;
  font-family: "Bangers", cursive;
}

#music {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  visibility: hidden;
}

.player {
  margin-top: 15px;
  margin-left: 30px;
}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 180px;
  height: 25px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media all and (max-width: 1000px) {
  .prefix {
    padding-top: 500px;
    display: flex;
    justify-content: center;
    padding-left: 75px;
  }
  .score-text {
    padding-left: 75px;
  }
}
